*.o
*.a
*.d
*.i
*~
.swp
.*.swp
core
.gdbinit
cscope.out
kconfig-frontends/Makefile
kconfig-frontends/autom4te.cache/
kconfig-frontends/config.log
kconfig-frontends/config.status
kconfig-frontends/docs/Makefile
kconfig-frontends/frontends/Makefile
kconfig-frontends/frontends/conf/.deps/
kconfig-frontends/frontends/conf/Makefile
kconfig-frontends/frontends/gconf/.deps/
kconfig-frontends/frontends/gconf/Makefile
kconfig-frontends/frontends/mconf/.deps/
kconfig-frontends/frontends/mconf/Makefile
kconfig-frontends/frontends/mconf/mconf
kconfig-frontends/frontends/nconf/.deps/
kconfig-frontends/frontends/nconf/Makefile
kconfig-frontends/frontends/qconf/.deps/
kconfig-frontends/frontends/qconf/Makefile
kconfig-frontends/libs/Makefile
kconfig-frontends/libs/images/.deps/
kconfig-frontends/libs/images/Makefile
kconfig-frontends/libs/lxdialog/.deps/
kconfig-frontends/libs/lxdialog/Makefile
kconfig-frontends/libs/parser/.deps/
kconfig-frontends/libs/parser/.libs/
kconfig-frontends/libs/parser/Makefile
kconfig-frontends/libs/parser/hconf.c
kconfig-frontends/libs/parser/libkconfig-parser.la
kconfig-frontends/libs/parser/libkconfig_parser_la-yconf.lo
kconfig-frontends/libtool
kconfig-frontends/scripts/.autostuff/config.h
kconfig-frontends/scripts/.autostuff/stamp-h1
kconfig-frontends/scripts/Makefile
kconfig-frontends/utils/.deps/
kconfig-frontends/utils/Makefile
kconfig-frontends/utils/gettext
kconfig-frontends/utils/tweak

