<?xml version="1.0"?>
<model>
  <name>vtol_y4</name>
  <version>1.0</version>
  <sdf version='1.4'>vtol_y4.sdf</sdf>

  <author>
   <name>Swapneel Naphade</name>
   <email>naphadeswapneel@yahoo.in</email>
  </author>

  <description>
    This is a model of a VTOL y4 quad plane.
  </description>
</model>
